/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-Anchor {
	font-size: 13px;
}

.gwt-Label {
	font-size: 13px;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.menuItem {
	position: relative;
	padding: 5px;
	
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;  
    margin-right: 10px;
}

.menuItemSelected {
	font-weight: bold;
	
	background: -moz-linear-gradient(top, #ffffff, #e0e3f0);
}

.menuLogin {
	position: absolute;
	margin-top: -6px;
	right: 12px;
	/* cursor: hand !important; */
}

.menuLogout {
	position: absolute;
	right: 10px;
}

.gwt-Anchor:hover {
	text-decoration: none;
	outline: none;
}

.gwt-Anchor:active {
	outline: none;
}

.favouriteLineRemoveImg {
	margin-top: 2px;
	margin-right: 2px;
}

.favouriteLine {
	padding-top: 1px;
	padding-bottom: 1px;
}

.emptyTextBox {
	font-style: oblique;
	color: #a1a1a1;
	font-weight: bold;
	font-size: 13px !important;
	font-family: sans-serif !important;
}