<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>translatorService</servlet-name>
    <servlet-class>translator.com.server.TranslatorServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>translatorService</servlet-name>
    <url-pattern>/translator/translatorService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>heartBeatServlet</servlet-name>
    <servlet-class>translator.com.server.HeartBeatServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>heartBeatServlet</servlet-name>
    <url-pattern>/heartBeatServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>facebookLoginServlet</servlet-name>
    <servlet-class>translator.com.server.FacebookLoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>facebookLoginServlet</servlet-name>
    <url-pattern>/loginfacebook</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>restdisp</servlet-name>
    <servlet-class>restdisp.DispatcherServlet</servlet-class>
    <init-param>
		<param-name>router.conf</param-name>
		<param-value>router.conf</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>restdisp</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Translator.html</welcome-file>
  </welcome-file-list>

</web-app>
